

@font-face {
  font-family: "Product_Sans";
  src: url("../src/assets/fonts/Product_Sans.ttf");
}

@font-face {
  font-family: "Gobold_Regular";
  src: url("../src/assets/fonts/Gobold_Regular.otf");
}
